In [2]:
import numpy as np
import pandas as pd

In [7]:
a = np.array([1,2,3])
type(a)
b = pd.DataFrame(a, index = ['a','b','c'])
print(b)
type(b)

   0
a  1
b  2
c  3

pandas.core.frame.DataFrame

In [23]:
hamoye = pd.read_csv("https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = 'latin-1')

In [26]:

hamoye.describe()
hamoye.isnull().sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [42]:
# print(hamoye.columns)
countries = hamoye['Area'].unique()
Total = len(countries)
print(Total)

49

In [54]:

print(hamoye.columns)
grouping = hamoye['Y2017'].groupby('Elements').sum()
sum_of_processing =grouping.loc['processing']

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

AttributeError: 'list' object has no attribute 'groupby'